<!DOCTYPE html>
<html lang="en">
  <%- include('include/header', { title: 'search' })%>
  <body>
    <!-- 네비게이션 부분 -->
    <nav class="nav"><%- include('include/navi') %></nav>

    <main class="container search_wrap">
      <div class="content">
        <h3 class="sub_title"><span>검색 결과</span></h3>
        <div class="card-container add" id="cardContainer">
          <div class="card" id="sampleCard">
            <div class="card-title"></div>
            <ul class="todo-list">
              <li></li>
              <li class="completed"></li>
              <li></li>
            </ul>
            <form method="" action="">
              <input type="hidden" name="title" value="공부" />
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include('include/popup') %>

    <script>
      const searchParams = new URLSearchParams(window.location.search);
      const query = searchParams.get('query');

      // 예시 데이터(삭제 예정)
      const todos = [
        { id: 1, title: '공부', content: '수학 문제 풀기', completed: false },
        { id: 2, title: '운동', content: '1시간 달리기', completed: true },
        { id: 3, title: '장보기', content: '고구마 사기', completed: false },
      ];

      // 검색 결과
      function renderSearchResults(query) {
        const container = document.getElementById('cardContainer');
        container.innerHTML = '';

        // query와 일치
        const results = todos.filter(
          (todo) => todo.title.includes(query) || todo.content.includes(query),
        );

        // 검색 결과가 있을 때 카드 추가
        results.forEach((result) => {
          const card = document.createElement('div');
          card.className = 'card';

          const title = document.createElement('div');
          title.className = 'card-title';
          title.textContent = result.title;

          const content = document.createElement('p');
          content.textContent = result.content;

          const status = document.createElement('p');
          status.textContent = result.completed
            ? '완료된 항목'
            : '진행 중 항목';

          if (result.completed) {
            status.classList.add('completed');
          }

          // 리커버 버튼 생성
          const recoverButton = document.createElement('button');
          recoverButton.textContent = '리커버';
          recoverButton.className = 'recover-button';
          recoverButton.onclick = function () {
            alert(`리커버: ${result.title}`);
          };

          card.appendChild(title);
          card.appendChild(content);
          card.appendChild(status);
          card.appendChild(recoverButton);
          container.appendChild(card);
        });

        // 검색 결과가 없을 경우
        if (results.length === 0) {
          container.innerHTML = '<p>검색 결과가 없습니다.</p>';
        }
      }
      renderSearchResults(query);
    </script>
  </body>
</html>
