<!DOCTYPE html>
<html lang="en">
  <%- include('include/header', { title: 'change_pw' })%>

  <body>
    <!-- 네비게이션 부분 -->
    <nav class="nav"><%- include('include/navi') %></nav>

    <main class="container change_pw_wrap">
      <div class="content">
        <h3 class="sub_title"><span>비밀번호 변경</span></h3>
        <form name="changePw" class="main-container">
          <h4 class="mb20">현재 비밀번호가 일치하는 경우 새 비밀번호로 변경할 수 있습니다.</h4>
        <div class="allBox">
          <span style="font-weight: 700;">비밀번호 작성규칙:</span>
          <span>· 비밀번호는 최소 4자 이상, 최대 18자 이하로 설정해야 합니다.</span>
          <span>· 비밀번호는 영어 대/소문자, 숫자, 특수문자 .!@#*?만 사용가능합니다.</span>
          <hr />
          <div class="changePwbox">
            <label
              >
              <span>현재 비밀번호</span>
              <input type="password" id="currentPw" required
            />
          </label>
            <div class="pw-result" id="currentPwConfirm"></div>
            <label
              >
              <span>새 비밀번호</span>
              <input type="password" id="newPw1" required
            />
          </label>
            <label
              >
              <span>새 비밀번호 확인</span>
              <input type="password" id="newPw2" required
            />
          </label>
          <div class="pw-result" id="newPwConfirm"></div>
            <button type="button" class="changePw" onclick="changePwBtn(event)">저장</button>
        </div>
      </form>
      </div>
    </main>

    <%- include('include/popup') %>

    <script>
      function changePwBtn(event) {
  event.preventDefault();

  const currentPw = document.getElementById("currentPw").value;
  const newPw = document.getElementById("newPw1").value;
  const newPwCheck = document.getElementById("newPw2").value;

  const currentResult = document.getElementById("currentPwConfirm");
  const newPwConfirm = document.getElementById("newPwConfirm");

  const password = "<%=password%>"; // 서버에서 받은 현재 비밀번호

  // 현재 비밀번호 확인
  if (currentPw !== password) {
      alert("현재 비밀번호가 일치하지 않습니다!");
      return;
    }

    // 새 비밀번호 확인
    if (newPw !== newPwCheck) {
      alert("새 비밀번호가 일치하지 않습니다!");
      return;
    }

    // 비밀번호 변경 요청
    axios.patch('/user/api/reset-pw', {
      currentPw: currentPw,
      newPw: newPw
    })
    .then((response) => {
      if (response.data.success) {
        alert("비밀번호가 성공적으로 변경되었습니다.");
        window.location.reload();
      } else {
        alert("비밀번호 변경에 실패했습니다.");
      }
    })
    .catch((error) => {
      console.error(error);
      alert("서버 오류가 발생했습니다.");
    });
  }
    </script>
  </body>
</html>
