<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비밀번호 변경</title>
  </head>
  <body>
    <%- include("./include/navi") %>
    <form name="changePw" class="main-container">
        <h2>비밀번호 변경</h2>
        <h4>현재 비밀번호가 일치하는 경우 새 비밀번호로 변경할 수 있습니다.</h4>
      <div class="allBox">
        <span>비밀번호 작성규칙:</span><br>
        <span>· 비밀번호는 최소 4자 이상, 최대 18자 이하로 설정해야 합니다.</span><br>
        <span></span>
        <hr />
        <br />
        <div class="changePwbox">
          <label
            ><span>현재 비밀번호</span><input type="password" id="currentPw" required
          /></label>
          <label
            ><span>새 비밀번호</span><input type="password" id="newPw" required
          /></label>
          <label
            ><span>새 비밀번호 확인</span><input type="password" id="newPw" required
          /></label>
          <button type="button" class="changePw" onclick="changePwBtn()">저장</button>
      </div>
      <br /><br />
    </form>
  </body>
</html>
