<!DOCTYPE html>
<html lang="en">
  <%- include('include/header', { title: 'change_pw' })%>

  <body>
    <!-- 네비게이션 부분 -->
    <nav class="nav"><%- include('include/navi') %></nav>

    <main class="container change_pw_wrap">
      <div class="content">
        <h3 class="sub_title"><span>비밀번호 변경</span></h3>
        <form name="changePw" class="main-container">
          <h4 class="mb20">현재 비밀번호가 일치하는 경우 새 비밀번호로 변경할 수 있습니다.</h4>
        <div class="allBox">
          <span>비밀번호 작성규칙:</span>
          <span>· 비밀번호는 최소 4자 이상, 최대 18자 이하로 설정해야 합니다.</span>
          <span></span>
          <hr />
          <div class="changePwbox">
            <label
              >
              <span>현재 비밀번호</span>
              <input type="password" id="currentPw" required
            />
          </label>
            <label
              >
              <span>새 비밀번호</span>
              <input type="password" id="newPw" required
            />
          </label>
            <label
              >
              <span>새 비밀번호 확인</span>
              <input type="password" id="newPw" required
            />
          </label>
            <button type="button" class="changePw" onclick="changePwBtn()">저장</button>
        </div>
      </form>
      </div>
    </main>

    <%- include('include/popup') %>

  </body>
</html>
