<!DOCTYPE html>
<html lang="en">
  <%- include('include/header', { title: 'delete_account' })%>

  <body>
    <!-- 네비게이션 부분 -->
    <nav class="nav"><%- include('include/navi') %></nav>

    <main class="container">
      <div class="content">
        <h3 class="sub_title"><span>회원탈퇴</span></h3>
        <form name="deleteContainer" class="main-container">
          <div class="allBox">
            <h2><%= locals.nickname%> 님</h2>
            <h3>정말 탈퇴하시겠어요?</h3>
            <p>
              ◎ 지금 탈퇴하시면 진행 예정이나 현재 진행 중인 투두리스트 알림을
              더 이상 이용하실 수 없습니다.
            </p>
            <p>
              ◎ 탈퇴후에는 작성하신 모든 투두리스트가 삭제됩니다. 추후에
              동일계정으로 재가입하셔도 복구되지 않으니, 탈퇴 신청 전에 꼭
              확인해 주세요!
            </p>
            <label>
              <input type="checkbox" id="deleteCheck" required /> 회원 탈퇴
              유의사항을 확인하였으며 이에 동의합니다.
            </label>

            <h4>떠나시는 이유를 알려주세요...</h4>
            <textarea
              id="reasonText"
              cols="80"
              rows="10"
              placeholder="서비스 탈퇴 사유에 대해 알려주세요. 
    회원님의 소중한 피드백을 담아 더 나은 서비스로 보답드리도록 하겠습니다."
            ></textarea>
            <button
              type="button"
              class="btn"
              name="deleteBtn"
              onclick="deleteAccount(event)"
              style="background-color: red; color: #fff"
            >
              회원탈퇴
            </button>
          </div>
        </form>
      </div>
    </main>

    <%- include('include/popup') %>
    <script>
      const checkbox = document.getElementById('deleteCheck');

      function deleteAccount(event) {
        event.preventDefault();

        if (!checkbox.checked) {
          alert('회원탈퇴 유의사항에 동의 해주세요!');
          return;
        }

        // Axios로 회원 탈퇴 API 요청 보내기
        axios
          .delete('/user/api/delete-account', {
            headers: {
              Authorization: `Bearer ${localStorage.getItem('token')}`, // JWT 토큰을 헤더에 포함
            },
          })
          .then((response) => {
            alert(response.data.message); // 성공 메시지 출력

            // 로컬 스토리지 초기화 (토큰 삭제)
            localStorage.clear();
            // localStorage.removeItem('token');
            localStorage.removeItem('nickname');

            // 회원 탈퇴 후 홈 페이지로 리디렉션
            window.location.href = '/';
          })
          .catch((error) => {
            alert('회원 탈퇴 중 오류가 발생했습니다.');
            console.error(error);
          });
      }
    </script>
  </body>
</html>
