<!DOCTYPE html>
<html lang="ko">
  <%- include('include/header', { title: 'todo' })%>
  <style>
    .container > * {
      border: 1px solid #333;
    }
  </style>
  <body>
    <div class="container">
      <!-- 네비자리 -->
      <nav></nav>
      <!-- 내부 영역 -->
      <div class="content"></div>
    </div>
  </body>
</html>
