<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프로필 설정</title>
  </head>
  <body>
    <%- include("./include/navi") %>
    <!-- 여기서부터 프로필 -->
    <div class="main-container">
      <h2>프로필 설정</h2>
      <h4>개인정보 또는 프로필사진을 변경합니다.</h4>
      <br />
      <div class="allBox">
        <h3>내 프로필</h3>
        <hr />
        <h4>프로필 사진</h4>
        <div class="profile-img-div">
          <img
            src="/static/img/26139_img.png"
            alt="기본 프로필 이미지"
            class="profile-img"
            width="200"
            height="200"
          />
        </div>
        <div class="dynamic">
          <form
            id="upload-form"
            enctype="multipart/form-data"
            method="POST"
            action="/user/api/photo-upload"
          >
            <input
              type="file"
              name="dynamic-file"
              id="dynamic-file"
              style="display: none"
            />
            <button
              onclick="fileUpload()"
              id="upload-btn"
              class="btn"
              style="margin-top: 10px"
            >
              프로필 업로드
            </button>
          </form>
        </div>
        <br />
        <hr />

        <h4>닉네임</h4>
        <form name="nicknameForm" id="nicknameForm">
          <input type="text" id="nickname" value="<%#name%>" /><br />
          <button class="btn set-profile-btn">변경</button>
        </form>
      </div>
      <div class="allBox">
        <h3>내 계정</h3>
        <hr />
        <h4>이메일</h4>
        <input type="email" id="email" value="<%#email@email.com%>" readonly />
        <br /><br />
        <hr />
        <div class="turn-page-box" onclick="getChangePwPage()">
          <p>비밀번호 변경</p>
          <p><i class="fa-solid fa-arrow-right"></i></p>
        </div>
        <hr />
        <div class="turn-page-box" onclick="getDeletePage()">
          <p>회원 탈퇴</p>
          <p><i class="fa-solid fa-arrow-right"></i></p>
        </div>
      </div>
    </div>

    <script>
      function getChangePwPage() {
        document.location.href = '/user/reset-pw';
      }

      function getDeletePage() {
        document.location.href = '/user/delete-account';
      }

      function fileUpload(e) {
        e.preventDefault();
        const uploadBtn = document.getElementById('upload-btn');
        const fileInput = document.getElementById('dynamic-file');

        fileInput.click();
      }

      document
        .getElementById('dynamic-file')
        .addEventListener('change', function () {
          document.getElementById('upload-form').submit();
        });
    </script>
  </body>
</html>
