<!DOCTYPE html>
<html lang="ko">
  <%- include('include/header', { title: 'find' })%>
  <body>
    <div class="main_wrap">
      <div class="main_img">
        <h1 class="main_title">Todo Checkk</h1>
      </div>
      <div class="main_con">
        <h3 class="sub_title">
          <span>아이디/비밀번호 찾기</span>
        </h3>
        <form name="form-find" method="post">
          <label>
            <span>EMAIL</span>
            <input
              type="email"
              placeholder="가입시 입력했던 이메일을 입력하세요"
              name="email"
              required
            />
          </label>

          <button>아이디/비밀번호 찾기</button>
        </form>

        <div class="link">
          <a href="/">로그인</a>
        </div>
      </div>
    </div>
  </body>
</html>
