<!DOCTYPE html>
<html lang="ko">
  <%- include('include/header', { title: 'signup' })%>
  <body>
    <div class="main_wrap">
      <div class="main_img">
        <a href="/" class="main_title">Todo Checkk</a>
      </div>
      <div class="main_con">
        <h3 class="sub_title">
          <span>회원가입</span>
        </h3>
        <form name="form-signup" method="post">
          <label>
            <span>NICK NAME</span>
            <input
              type="text"
              placeholder="닉네임을 입력하세요"
              name="userName"
              required
            />
          </label>
          <label class="email_input">
            <span>EMAIL</span>
            <input
              type="email"
              placeholder="이메일을 입력하세요"
              name="userEmail"
              required
            />
          </label>
          <label>
            <span>PW</span>
            <input
              type="password"
              placeholder="4글자에서 18글자 사이"
              name="userPw"
              required
              minlength="4"
              maxlength="18"
            />
          </label>

          <button type="button" onclick="handleSubmit()">회원가입</button>
        </form>
      </div>
    </div>
    <script>
      const inputs = document.querySelectorAll('input');

      inputs.forEach((input, index) => {
        input.addEventListener('keydown', function (event) {
          if (event.key === 'Enter') {
            event.preventDefault();
            if (inputs[index + 1]) {
              inputs[index + 1].focus();
            }
          }
        });
      });

      async function handleSubmit() {
        event.preventDefault();

        const form = document.forms['form-signup'];
        const userName = form['userName'].value.trim();
        const userEmail = form['userEmail'].value.trim();
        const userPw = form['userPw'].value.trim();

        if (!userName || !userEmail || !userPw) {
          alert('모든 필드를 입력해주세요.');
          return;
        }

        if (userName.length > 10) {
          alert('닉네임은 10글자 이내로 입력해주세요.');
          return;
        }

        if (userPw.length < 4 || userPw.length > 18) {
          alert('비밀번호는 4글자에서 18글자 사이로 입력해주세요.');
          return;
        }

        axios
          .post('/auth/api/sign-up', {
            nickname: userName,
            email: userEmail,
            pw: userPw,
          })
          .then((signUpResponse) => {
            const signUpData = signUpResponse.data;
            if (signUpResponse.status === 201) {
              alert('회원가입이 완료되었습니다.');
              window.location.href = '/';
            }
          })
          .catch((err) => {
            console.error('회원가입 오류 발생:', err);

            const emailInput = document.querySelector('.email_input');

            if (document.querySelector('.err')) {
              document.querySelector('.err').remove();
            }

            const errMsg = document.createElement('p');
            errMsg.classList.add('err');
            errMsg.innerText = '이미 가입된 이메일입니다';
            emailInput.append(errMsg);
          });
      }
    </script>
  </body>
</html>
