<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="main_wrap">
      <div class="main_img">
        <h1 class="main_title">Todo Checkk</h1>
      </div>
      <div class="main_con">
        <h3 class="sub_title">
          <span>LogIn</span>
          <span></span>
        </h3>
        <form name="form-login" method="post">
          <label>
            <span>EMAIL</span>
            <input
              type="email"
              placeholder="EMAIL을 입력하세요"
              name="userEmail"
              required
            />
          </label>
          <label>
            <span>PW</span>
            <input
              type="password"
              placeholder="PW를 입력하세요"
              name="userPw"
              required
              minlength="4"
              maxlength="18"
            />
          </label>

          <!-- sns 로그인 -->
          <div class="btn_wrap">
            <ul class="sns_login">
              <li class="kakao">
                <button
                  type="button"
                  onclick="window.location.href='/auth/api/sign-in/kakao'"
                >
                  <img src="../static/img/kakao_sq_s.png" alt="카카오버튼" />
                </button>
              </li>
              <li class="google">
                <button
                  type="button"
                  onclick="window.location.href='/auth/api/sign-in/google'"
                >
                  <img src="../static/img/google_sq.png" alt="구글버튼" />
                </button>
              </li>
            </ul>

            <button>로그인</button>
          </div>
        </form>

        <div class="link">
          <a href="/auth/search-pw">아이디 / 비밀번호 찾기</a>
          <a href="/auth/sign-up">회원가입</a>
        </div>
      </div>
    </div>
  </body>
</html>
