<!DOCTYPE html>
<html lang="ko">
  <%- include('include/header', { title: 'todo' })%>
  <body>
    <button type="button" class="pop_btn">팝업오픈</button>
    <!-- 네비게이션 자리 -->
    <div class="container popup">
      <div class="pop_con">
        <h3 class="sub_title">
          <span>Write your TodoList</span>
        </h3>
        <button type="button" class="pop_close">X</button>
        <form name="form-todo" method="post" class="view">
          <label class="todo_title">
            <input
              type="text"
              name="todoTitle"
              placeholder="제목을 입력하세요"
              required
            />
          </label>

          <div class="todo_input">
            <label class="calendar_input">
              <input
                type="text"
                id="datetime-input"
                name="todoDate"
                placeholder="날짜를 입력하세요"
                readonly
              />
              <div class="calendar" style="display: none"></div>
            </label>

            <div class="priority">
              <p>우선순위</p>
              <label>
                <input type="radio" name="priority" value="high" />
                상
              </label>
              <label>
                <input type="radio" name="priority" value="medium" />
                중
              </label>
              <label>
                <input type="radio" name="priority" value="low" />
                하
              </label>
            </div>

            <label class="todo_key">
              <p>키워드</p>
              <select name="todoKey" id="" required>
                <option value="work" selected>work</option>
                <option value="study">study</option>
              </select>
            </label>
          </div>

          <ul class="todo_content">
            <li>
              <label>
                <input type="checkbox" name="todoChk" />
                <input
                  type="text"
                  name="todoCon"
                  placeholder="할일을 입력하세요"
                />
                <input type="button" value="delete" />
              </label>
            </li>
          </ul>

          <button type="button" id="todoAdd">ADD</button>

          <button id="todoBtn">등록</button>
        </form>
      </div>
    </div>
  </body>
</html>
