<!DOCTYPE html>
<html lang="ko">
  <%- include('include/header', { title: '404 Error' })%>
  <body>
    <div class="container">
      <h1 class="tit_404">🚨404 Error</h1>
      <h3 class="sub_title"><span>page not found</span></h3>
      <p>죄송합니다. 해당 URL은 접근할 수 없는 주소입니다.</p>
      <div class="link">
        <a href="/">HOME</a>
      </div>
    </div>
  </body>
</html>
