<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>todo</title>
  <link rel="stylesheet" href="../../static/css/style.css" />
  <script defer src="../../static/js/index.js"></script>
</head>
