<head>
  <script
    defer
    src="https://kit.fontawesome.com/1a37f47d3b.js"
    crossorigin="anonymous"
  ></script>

  <!-- axios CDN -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<div class="sidebar">
  <div class="profile">
    <img src="<%= "/uploads/"+ profile_img || "/static/img/26139_img.png" %>"
    class="profile-img" width="100" height="100"/>
    <p><%=nickname%>님 환영합니다!</p>
    <div class="navi logoutBtn">
      <a href="/user/profile" class="navi">프로필 설정</a>
      <a
        href="/logout"
        onclick="return confirm('Are you sure you want to log out?')"
        >logout</a
      >
    </div>
  </div>
  <div class="naviBar">
    <input type="search" id="search-comment" placeholder="search.." />
    <p>TODO리스트</p>
    <a href="/todo/api/write" class="navi">새 작성</a><br />
    <!-- <a href="/todo/api/search" class="navi">검색</a><br /> -->
    <a href="/todo/api/calander" class="navi">캘린더</a><br />
    <a href="/todo/api/deleted-todo" class="navi">휴지통</a>

    <div class="displaybox">
      <!-- <p>디스플레이 설정</p>
      <span class="mode-set">모드설정 ▼</span>
      <div class="setbox">
        <div class="box light">Light mode</div>
        <div class="box dark">Dark mode</div>
      </div> -->
      <button class="btn btn-dark" id="theme-toggle">
        <i class="fa-regular fa-moon"></i> 다크모드
      </button>
    </div>
  </div>
  <div class="keyBar">
    <h4>키워드</h4>
    <ul id="keyul">
      <% for (let i = 0; i < keywords.length; i++) { %>
      <li>
        <a
          href="/todo/api/list/keyword?leyword={<%= keywords[i].get('keyword')
          %>}"
          ><i class="fa-solid fa-hashtag"></i> <%= keywords[i].get('keyword')
          %></a
        >
      </li>
      <% } %>
    </ul>
  </div>
  <button type="button" class="pop_btn">할일 등록하기</button>
</div>

<script>
  /* 네비 */
  const themeToggle = document.getElementById('theme-toggle');
  const sidebar = document.querySelector('.sidebar');
  const body = document.body;

  document.addEventListener('DOMContentLoaded', () => {
    const isDarkMode = localStorage.getItem('dark-mode') === 'true';
    sidebar.classList.toggle('dark-mode', isDarkMode);
    if (isDarkMode) {
      body.classList.add('dark-mode');
      themeToggle.innerHTML = `<i class="fa-regular fa-sun"></i> 라이트모드`;
      themeToggle.classList.remove('btn-light');
      themeToggle.classList.add('btn-dark');
    }
  });

  themeToggle.addEventListener('click', () => {
    // body의 dark-mode 클래스를 토글
    const isDarkMode = document.body.classList.toggle('dark-mode');
    // 사이드바의 dark-mode 클래스를 토글
    sidebar.classList.toggle('dark-mode', isDarkMode); // 다크 모드일 때 사이드바에 dark-mode 클래스를 추가
    // 버튼의 아이콘과 텍스트를 바꿈
    localStorage.setItem('dark-mode', isDarkMode);
    if (isDarkMode) {
      themeToggle.innerHTML = `<i class="fa-regular fa-sun"></i> 라이트모드`; // 다크모드일 때
      themeToggle.classList.remove('btn-light');
      themeToggle.classList.add('btn-dark');
    } else {
      themeToggle.innerHTML = `<i class="fa-regular fa-moon"></i> 다크모드`; // 라이트모드일 때
      themeToggle.classList.remove('btn-dark');
      themeToggle.classList.add('btn-light');
    }
  });
</script>
