/* * {
  /* border: 1px solid #000; 
}

p {
  margin: 10px 0px;
}

body {
  display: flex;
  margin: 0; /* 기본 마진 제거 
} */

/* navi */

.sidebar {
  height: 100%;
  width: 300px;
  background: linear-gradient(230deg, #c8b6ff, #e7c6ff, #b8c0ff);
  overflow-y: auto;
  padding: 50px 30px 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  gap: 30px 0;
  align-items: center;
}
.sidebar > a {
  display: inline-flex;
  font-family: 'yg-jalnan';
  color: #444;
  font-size: 23px;
}
.sidebar > a > img {
  display: none;
  width: 28px;
  height: 28px;
}

.sidebar::-webkit-scrollbar {
  display: none; /* 크롬, 사파리 등에서 스크롤바 숨김 */
}

.main-container {
  /* padding: 300px; */
  margin-left: 0;
  width: auto;
}

.profile-img {
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #dddddd;
  background-color: #fff;
}

/* a {
                text-decoration: none;
                color: var(--text-color);
              } */

.naviBar {
  width: 100%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 0;
}
.naviBar .search-container {
  position: relative;
  overflow: hidden;
}
.naviBar .search-container input[type='search'] {
  width: calc(100% - 20px);
}
.naviBar .search-container button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.naviBar > p {
  font-weight: 600;
  margin-top: 15px;
}
.naviBar > * {
  width: 100%;
}
.displaybox {
  margin-top: 10px;
}
.setbox {
  display: none;
  border: 1px solid black;
  background-color: white;
  width: 180px;
  border-radius: 10px;
  margin: 10px 0px;
  cursor: pointer;
}
.mode-set {
  cursor: pointer;
}

.box {
  /* width: 128px; */
  border: 1px solid black;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.keyBar {
  text-align: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 0;
}
.keyBar > * {
  width: 100%;
}

#keyul {
  list-style: none;
}

.container1 {
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: rgb(255, 249, 228);
}

.profile {
  width: 100%;
  text-align: center;
}

.logoutBtn {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0;
}

.btn {
  background-color: var(--button-bg);
  color: var(--button-text);
  border-radius: 13px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: auto !important;
}

.allBox {
  width: auto;
  display: flex;
  max-width: 100%;
  box-shadow: 0 0 10px #0003;
  border-radius: 20px;
  padding: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  /* text-align: start; */
  flex-wrap: wrap;
  gap: 20px;
  align-content: space-between;
  justify-content: flex-start;
  background: #fff;
}
.allBox > * {
  width: 100%;
  text-align: left;
}
.allBox > a {
  width: auto;
}
.allBox h2 {
  font-size: 24px;
}
.allBox.add h3,
.allBox h3 {
  font-size: 20px;
}
.allBox.add h4,
.allBox h4 {
  font-size: 16px;
}
.allBox.add button {
  min-width: unset;
  max-width: unset;
  width: auto;
  border: 1px solid #777;
  border-radius: 15px;
  background: #fff;
  font-weight: 600;
  transition: all, 0.3s;
  box-sizing: border-box;
  margin: 0;
}
.profileImg {
  display: flex;
  justify-content: center;
}

.dynamic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#nicknameForm {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
#nicknameForm input {
  width: auto !important;
  flex-grow: 1;
}
#nicknameForm button {
}
/* input {
                /* width: 20rem; 
                max-width: 100%;
                border: 1px solid darkgray;
                border-radius: 30px;
                padding: 5px 10px;
              } */

.pwbox {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  cursor: pointer;
}

.changebox,
.deletebox {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  cursor: pointer;
}
.hidebox_none {
  display: none;
}
.deletebox:hover {
  opacity: 0.7;
  color: #b8c0ff;
}

/* label {
                display: flex;
                margin: 10px 0px;
                justify-content: center;
              }
              
              span {
                width: 150px;
              } */
.getNewPwbox,
.changePwbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}
button.getnewPw,
button.changePw {
  margin-top: 30px;
  align-self: center; /* 버튼을 중앙에 정렬 */
  width: auto;
  border: 1px solid #777;
  border-radius: 15px;
  padding: 15px 20px;
  background: #fff;
  font-weight: 600;
  transition: all, 0.3s;
  box-sizing: border-box;
}

/* 다크모드 설정 */
:root {
  --background-color: #ffffff; /* 기본 배경색 (라이트 모드) */
  --text-color: #000000; /* 기본 글자색 (라이트 모드) */
  --button-bg: rgba(233, 195, 251, 0.87); /* 버튼 배경색 (라이트 모드) */
  --button-color: rgba(128, 37, 170, 0.87); /* 버튼 텍스트 색상 (라이트 모드) */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.btn-dark {
  background-color: rgba(233, 195, 251, 0.87);
  border-radius: 13px;
  color: rgba(115, 29, 144, 0.87);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.dark-mode .btn-dark {
  border: 1px solid #777 !important;
}

.btn-light {
  background-color: rgba(128, 37, 170, 0.87);
  border-radius: 13px;
  color: rgba(233, 195, 251, 0.87);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.sidebar.dark-mode {
  position: fixed; /* fixed 대신 relative 사용 */
  height: 100vh; /* 화면 높이 */
  width: 300px;
  background: #555 !important;
  color: white;
  overflow-y: auto;
}
.sidebar.dark-mode * {
  background-color: #555 !important;
}
body.dark-mode {
  --background-color: #444;
  --text-color: white;
}

body.dark-mode * {
  background: #444 !important;
  color: #fff !important;
  border-color: #777 !important;
}

/*search,keyword, deleted*/
.sub_title span:first-child > i.search_tit {
  font-style: normal;
  font-size: 23px;
  margin-right: 10px;
  font-weight: 500;
}
.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #b8c0ff;
}
[class$='_wrap'].container .card-container.add {
  margin-top: 30px;
  justify-content: space-evenly;
}
[class$='_wrap'].container .card-container.add .card {
  flex: none;
  min-width: calc(33% - 20px);
  width: auto;
  border-radius: 20px;
  box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: #fff;
}
[class$='_wrap'].container .card-container.add .card .card-title {
  color: #555;
  font-weight: 600;
}
[class$='_wrap'].container
  .card-container.add
  .card
  .todo-list-all
  li:first-child {
  margin: 10px auto 0;
  padding-top: 10px;
  border-top: 1px dotted #999;
}
[class$='_wrap'].container
  .card-container.add
  .card
  .todo-list-all
  li.completed {
  text-decoration: line-through;
  color: #999;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.deleted_wrap .card-container.add {
  justify-content: space-evenly;
}
.deleted_wrap .card-container.add .btn_wrap {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
}
.deleted_wrap .card-container.add .card {
  min-width: calc((100% / 3) - 20px);
  width: auto;
  flex: none;
  border-radius: 20px;
  box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: #fff;
}
.deleted_wrap .card-container.add .card .card-header {
  text-align: left;
  display: flex;
  gap: 0 5px;
}
.deleted_wrap .card-container.add .card .todo-list-all {
}
.deleted_wrap .card-container.add .card .todo-list-all li:first-child {
  padding-top: 10px;
  border-top: 1px dotted #999;
}
.deleted_wrap .card-container.add .card .todo-list-all li.completed {
  text-decoration: line-through;
  color: #888;
}
.keyword_wrap .no-todos,
.deleted_wrap .card-container > .no-items {
  width: 100%;
  display: block;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.card {
  flex: 1 1 calc(33.333% - 20px);
  background: #fff;
  /* padding: 20px; */
  border-radius: 15px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  box-sizing: border-box;
}
.card-container.add .card {
  padding: 20px;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #c8b6ff;
  font-weight: 500;
}

.card-container.add .card .todo-list {
  border: 1px solid #eee;
  border-radius: 0;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
}

.todo-list li {
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.todo-list li.completed {
  text-decoration: line-through;
  color: #888;
}

.recover-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #b8c0ff;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

/* .recover-button:hover {
    background-color: #bbd0ff;
  } */

/* @media (max-width: 768px) {
                .card {
                  flex: 1 1 calc(50% - 20px);
                }
              }
              
              @media (max-width: 480px) {
                .card {
                  flex: 1 1 100%;
                }
              } */

/*dash*/
.container-fluid {
  flex: 1;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 20px;
}
.container-fluid > * {
  width: calc(50% - 20px);
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: #fff;
  text-align: center;
}
.container-fluid > header {
  width: 100%;
  box-shadow: none;
  padding: 0;
  position: sticky;
  top: -6px;
  background: linear-gradient(180deg, #f5f5f5, rgba(245, 245, 245, 0.1));
  padding-bottom: 10px;
}
.card {
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.card h5 {
  font-size: 1.25rem;
}

.custom-progress {
  /* background-color: #ebf8f667; */
}

.progress-container {
  margin-top: 20px;
}

.summary,
.today-todos {
  /* margin: 20px 0; */
}

.progress-bar {
  height: 100%;
  line-height: 30px;
  transition: width 0.5s ease;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.progress {
  height: 30px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #e0e0e0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.progress-bar-custom {
  background: linear-gradient(90deg, #29d6b6, #1e90ff);
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.progress-bar-animated {
  animation: progressBarAnimation 2s ease-in-out infinite;
}

@keyframes progressBarAnimation {
  0% {
    background-color: #29d6b6;
  }
  50% {
    background-color: #1e90ff;
  }
  100% {
    background-color: #29d6b6;
  }
}

.progress-bar-text {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 30px;
}
/* ==솝드== */
/* dash/날씨 */
.multiple-button {
  padding: 10px 20px;
  border: none;
  background-color: #b8c0ff;
  color: black;
  cursor: pointer;
  margin-right: 10px;
}
.weather-container {
  margin-top: 10px;
}

.weather-container p {
  font-size: 1.1em;
  margin: 5px 0;
}

.weather-icon {
  font-size: 5rem;
  margin-top: 10px;
  color: #ffd700; /* 아이콘 색상 */
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.weather-container p.error {
  color: #ff6b6b;
  font-weight: bold;
  margin-top: 10px;
}
/*calendar*/
.calendar_wrap .calendar {
  max-width: 70%;
  margin: 0 auto 50px;
}
.calendar_wrap .calendar .date {
  background: transparent !important;
  padding: 2vh 1vw;
}
.calendar_wrap .calendar .date.bg {
  overflow: hidden;
}
.calendar_wrap .calendar .date.bg:after {
  content: '';
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background: #c8b6ff;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.calendar_wrap .calendar .dates {
  margin-top: 10px;
}

.calendar_wrap .calendar + .todo-list {
  max-width: 50%;
  margin: 0 auto;
  max-height: unset;
}
.calendar {
  width: auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #c8b6ff;
  color: white;
}

.calendar-header h2 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

.days,
.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  gap: 15px;
}

.day {
  font-weight: bold;
  font-size: 18px;
  color: #555;
}

.day:nth-child(1),
.date:nth-child(7n + 1) {
  color: red;
}

.day:nth-child(7),
.date:nth-child(7n) {
  color: blue;
}

.date {
  padding: 20px;
  font-size: 18px;
  /* border-radius: 50%; */
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.date:hover {
  background-color: #f0f0f0;
}

.today {
  background-color: black;
  color: white;
}

.todo-list {
  margin-top: 20px;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: auto;
}

.todo-list h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
}

.todo-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-list ul li {
  background: #f0f0f0;
  margin: 8px 0;
  padding: 12px;
  font-size: 18px;
  border-radius: 5px;
}

.flex_wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb0 {
  margin-bottom: 0;
}
.w100 {
  width: 100%;
}
.flex_wrap.sb {
  justify-content: space-between;
}

#todayTodos {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: space-around;
}
#todayTodos li {
  width: calc((100% / 3) - 10px);
  border: 1px solid #999;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
#todayTodos li > div .todo-contents .todo-content.incomplete:first-child {
  /* width: 70%; */
  margin: 10px auto 0;
  padding-top: 10px;
  border-top: 1px dotted #999;
}
#todayTodos li > div .todo-contents .todo-content.incomplete:not(:first-child) {
  margin-top: 5px;
}
#todayTodos li > div .todo-contents .todo-content.incomplete span {
  display: inline-block;
}
#todayTodos li > div .todo-contents .todo-content.incomplete span.state-badge {
  display: inline-block;
  font-size: 12px;
  border: 1px solid #999;
  border-radius: 5px;
}
.weather-container .bg {
  width: 30%;
  background: rgba(231, 198, 255, 0.9);
  border-radius: 15px;
  margin: 15px auto 0;
}
.weather-container .bg img {
  margin: 0 auto;
}

.card-body {
}
.card-body .priority p {
  margin-right: 20px;
  font-weight: 600;
}
.card-body .priority {
  display: inline-block;
  width: auto;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 20px;
  padding: 10px;
}
.card-body .priority button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.card-body .priority button.active {
  background: rgba(231, 198, 255, 0.9);
}
.card-body .priority-todos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  justify-content: space-evenly;
}
.card-body .priority-todos li {
  width: calc((100% / 3) - 10px);
  border: 1px solid #999;
  padding: 10px;
  border-radius: 10px;
}

/* 지원 ------------ */
.plusKeywordBtn,
.minusKeywordBtn {
  width: 18px;
  height: 18px;
  border: none;
  padding: 0;
}
.keybarTitle,
.keybarDiv {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.newkeyTitle {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.newkeyTitle-none {
  display: none;
}
.newkeyTitle-btn {
  margin-left: 10px;
}

.sidebar > .keyBar > .keybarTitle > .plusKeywordBtn,
.keybarDiv {
  transition: box-shadow 0.3s ease;
}
.keybarDiv:hover {
  box-shadow: 0 4px 10px rgba(249, 241, 255, 0.926); /* 그림자 효과 */
}
.plusKeywordBtn:hover {
  transition: all, 0.3s;
  box-shadow: 2px 3px 8px 2px rgba(231, 198, 255, 0.7);
  border-color: transparent;
  border: none !important;
}
.minusKeywordBtn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}
.keybarDiv:hover .minusKeywordBtn {
  visibility: visible;
  opacity: 1;
}
/* ------------- 지원 */

/* === 반응형 === */
@media (max-width: 1024px) {
  /*nav 설정*/
  body > .nav {
    position: absolute;
    left: -30%;
    width: 30%;
    transition: all, 0.1s;
  }
  body > .nav.on {
    position: fixed;
    z-index: 2;
    left: 0;
    transition: all, 0.3s;
  }
  body > .nav + div {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .sidebar {
    width: 100%;
    padding: 30px 15px;
    justify-content: space-between;
  }
  .sidebar > a {
    font-size: 0;
  }
  .sidebar > a > img {
    display: inline-flex;
  }
  body > .nav .navi_close {
    display: inline-flex;
  }
  body > .nav + .container {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: left;
  }
  body > .nav.on + .container:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  }
  body > .nav + .container .navi_btn {
    display: inline-block;
  }
  .container.popup .pop_con {
    max-width: 80%;
  }
  .container-fluid > * {
    width: 100%;
  }
  [class$='_wrap'].container .card-container.add .card {
    min-width: calc(50% - 20px);
  }
}

@media (max-width: 720px) {
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='search'],
  input[type='file'] {
    padding: 10px 5px;
  }
  input[type='radio'],
  input[type='checkbox'] {
    width: 15px;
    height: 15px;
  }
  [class$='_wrap'].container .card-container.add .card {
    min-width: unset;
    width: 100%;
    text-align: center;
  }
  .container.popup * {
    font-size: 14px;
  }
  .container.popup .priority > p,
  .container.popup .todo_key > p {
    display: none;
  }
  .container.popup .todo_key > select {
    width: 100%;
    padding: 0;
  }
  .container.popup .sub_title span:first-child {
    font-size: 20px;
  }
  body > .nav {
    width: 100%;
  }
  .sidebar > * {
  }
  .main_con form > button,
  .container form > button,
  .pop_btn {
    min-width: 20%;
    max-width: 80%;
    word-break: keep-all;
    padding: 10px 15px;
  }
  form[name='form-todo'].view input {
    padding: 20px 10px;
    font-size: 17px;
  }
  button {
    height: auto;
  }
  .card-body #todayTodos li,
  .card-body .priority-todos li {
    width: calc((100% / 2) - 10px);
  }
  .container .main_title {
    font-size: 6vw;
  }
  .calendar_wrap .calendar {
    max-width: 100%;
  }
  .calendar_wrap .calendar .date {
    padding: 2vh 0;
  }
  .calendar_wrap .calendar + .todo-list {
    max-width: 80%;
  }
  /* .minusKeywordBtn {
      visibility: visible;
    } */
}
