/*font 설정*/

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', Arial, Helvetica, sans-serif;
  letter-spacing: -0.05em;
  font-size: 15px;
  color: #333;
  word-break: keep-all;
}
body {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
html,
body {
  height: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
input[type='file'] {
  display: block;
  width: 100%;
  border: 1px solid #999;
  border-radius: 15px;
  padding: 15px 10px;
  outline: none;
}
input:read-only,
input:disabled {
  background: #eee !important;
  outline: none;
  color: #888;
}
body.dark-mode input:read-only,
body.dark-mode {
  color: #888 !important;
}
input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  vertical-align: middle;
  outline: none;
}
input[type='radio'] {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  vertical-align: middle;
  outline: none;
}
button {
  width: auto;
  height: 50px;
  border-radius: 15px;
  transition: all, 0.3s;
  box-sizing: border-box;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
button:hover {
  transition: all, 0.3s;
  border-color: transparent;
  border: none !important;
}
textarea,
select {
  font: inherit;
}
a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
.table {
  border-collapse: collapse;
  border-spacing: 0;
}
.table th,
.table td {
  border: 1px solid #777;
  padding: 10px 20px;
}
.table thead th {
  background: #f3f3f3;
  font-weight: 500;
}
.table tbody td:first-child {
  font-weight: 500;
}

body > .nav {
  width: auto;
  height: 100%;
}
body > .nav + .container {
  width: calc(100% - 300px);
  height: 100%;
  overflow: hidden;
  padding: 30px 15px 30px 30px;
}
body > .nav + .container > .content {
  height: 100%;
  overflow-y: auto;
  padding: 5px 15px 50px 5px;
}

/*scrollbar*/
body > .nav + .container > .content::-webkit-scrollbar {
  width: 8px;
}
body > .nav + .container > .content::-webkit-scrollbar-track {
  background-color: #e7c6ff;
}
body > .nav + .container > .content::-webkit-scrollbar-thumb {
  background-color: #c8b6ff;
  border: 1px solid #999;
}
body > .nav + .container > .content::-webkit-scrollbar-button {
  display: none;
}
body.dark-mode > .nav + .container > .content::-webkit-scrollbar-track {
  background-color: #888;
}
body.dark-mode > .nav + .container > .content::-webkit-scrollbar-thumb {
  background-color: #fff;
}

/* 코너에 라운드 효과 */
body > .nav + .container > .content::-webkit-scrollbar-track,
body > .nav + .container > .content::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
body > .nav + .container .navi_btn {
  display: none;
  text-indent: -9999px;
  width: 30px;
  height: 50px;
  background: url('../../static/img/menu.png') no-repeat center !important;
  background-size: 30px auto !important;
}
body > .nav .navi_close {
  display: none;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background: url('../../static/img/close.png') no-repeat center !important;
  background-size: 30px auto !important;
}
